*{
margin: 0;
padding: 0;
}

body{
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
}


.cabeçalho { 
    background-color: rgb(91, 91, 235);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
width: 25%;

}

.cabeçalho-lista-item{
  display: inline-block;
margin: 0 16px;
font-size: 24px;
}

.interact-imagem{
    width: 50%;
}

.Interact{
background-image: linear-gradient(rgb(91, 91, 235),rgb(175, 229, 247));
color: black;
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;
}

.Interact-div-conteudo{
    width: 30%;
    text-align: justify;
}

.Interact-título{
    padding: 24px 0;
}

.clubs{
    padding: 24px 0;
}

.club1-imagem{
    width: 2px;
}

.club1-icone{
    width: 24px;
}

.club1-div{
    text-align: center;
    padding: 16px 0;
}

.clubs-titulo{
    text-align: center;
    padding: 50px 0;
}

.clubs-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodapé{
background-color: black;
text-align: center;
}

.rodapé-imagem{
    height: 60px;
    padding: 12px 0;
}