header { 
    display: flex;
    background-color: rgb(77, 77, 235);
    color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
width: 20%;

}

.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
font-size: 24px;
}

.interact-imagem{
    width: 10%;
}

.interact{
background-image: linear-gradient( rgb(8, 8, 112), rgb(143, 182, 235));
}